{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">  
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Tidbit: Just Words</title>

	
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="https://storage.googleapis.com/css-public/css/tidbit.css">

	<link href="https://fonts.googleapis.com/css?family=Suez+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=David+Libre" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link rel="shortcut icon" href="https://storage.googleapis.com/css-public/css/favicon.ico">
</head>

<body bgcolor="#fffff0">

	

	{% block content %} {% endblock %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

	<div class="container">
		<footer class="foot">Connor Jenkins // Python 3 // Django 1.9 // Bootstrap</footer>
	</div>
</body>
</html>