{% extends "tidbit/base.html" %}
{% load staticfiles %}

{% block content %}

<nav class="navbar navbar-default" style="background-color: #967BB6;">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{% url 'home' %}">Tidbit</a>
			</div>
			
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a class="navigate" href="{% url 'profile' request.user.username %}">My Profile</a></li> 
					<li><a class="navigate" href="{% url 'settings' %}">Settings</a></li>
					<li><a class="navigate" href="{% url 'logout' %}">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

<div class="container">
	<div class="row">
		<div class="col-md-6 center-block user" style="float:none">
			<img id="mainpic" src="{{ user.profile.picture.url }}"/>
			<h3>{{user.first_name}} {{user.last_name}}</h3>
			{% if user == request.user %}
			<form action="{% url 'new_tidbit' %}" method="post" autocomplete="off">
				{% csrf_token %}
				<label for="new_tidbit">Post a Tidbit</label>
				<input id="new_tidbit" type="text" name="new_tidbit" width="100%">
			</form>
			{% endif %}
		</div>
	</div>
</div>

<div class="container">
	{% for tidbit in tidbits reversed %}
	<div class="row">
		<div class="col-md-6 center-block" style="float:none">
			<p>{{tidbit.text}}</p>
			<footer>
				{{tidbit.pub_date}} EST
				{% if tidbit.user == request.user %}
				<a href="{% url 'delete' tidbit.pk %}">
					<span class="glyphicon glyphicon-trash"></span>
				</a>
				{% endif %}
			</footer>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}